.main-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px;
  position: relative;
}

.main-banner__image-container{
  flex:1;
}

.main-banner__link {
  padding: 17px 60px;
  margin: 90px 0 30px 0;
  border-radius: 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #FD9854;
}

.main-banner__image{
  width: auto;
  height: 42vh;
}

@media screen and (max-width: 550px) {
  .main-banner__image{
    height: 30vh;
  }
}

@media screen and (max-width: 370px) {
  .main-banner__image{
    height: 23vh;
  }
}
