.main-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px;
  position: relative;
}

.main-banner__link {
  padding: 2.7vmin 8vmin;
  margin: 13vh 0 3vh  0;
  border-radius: 12px;
  font-weight: bold;
  /*font-size: 18px;*/
  font-size: 2.4vmin;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #FD9854;
}

.main-banner__image{
  width: auto;
  height: 42vh;
}

@media screen and (max-width: 550px) {
  .main-banner__image{
    height: 30vh;
  }
}

@media screen and (max-width: 450px) {
  .main-banner__link {
    padding: 12px 40px;
    border-radius: 12px;
    font-weight: bold;
    line-height: 20px;
  }
}

@media screen and (max-width: 370px) {
  .main-banner__image{
    height: 23vh;
  }
}
