.form {
  border: none;
}

.form__field {
  border: none;
  outline: none;
  margin: 6px 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.form__text-area {
  margin: 0 0 24px 0;
  padding: 12px 28px 12px 14px;
  background-color: transparent;
  border: 1px solid #a25c5c;
  box-sizing: border-box;
  border-radius: 16px;
  height: 250px;
  width: 500px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  resize: none;
}

@media screen and (max-width: 768px) {
  .form__text-area {
    height: 200px;
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .form__text-area {
    height: 200px;
    width: 300px;
  }
}

.form__text-area:focus {
  outline:none;
  border: 2px solid #a25c5c
}

.form__clear-text-btn {
  background-color: unset;
  border: 1px solid #a25c5c;
  border-radius: 16px;
  min-height: 35px;
  min-width: 220px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

@media screen and (max-width: 450px) {
  .form__clear-text-btn {
    min-height: 30px;
    min-width: 120px;
    font-size: 14px;
  }
}

.form__clear-text-btn:hover,
.form__clear-text-btn:focus {
  background-color: rgba(203, 197, 197, 0.3);
  border: 2px solid #a25c5c
}

.form__clear-text-btn_disabled {
  cursor: unset;
  opacity: 0.2;
}

.form__clear-text-btn:hover,
.form__clear-text-btn:focus{
  background-color: unset;
  border: 1px solid #a25c5c
}

.copy-to-clipboard {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 214px;
  left: 465px;
  opacity: 0.4;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .copy-to-clipboard {
    top: 166px;
    left: 366px;
  }
}

@media screen and (max-width: 450px) {
  .copy-to-clipboard {
    top: 166px;
    left: 267px;
  }
}

.copy-to-clipboard:hover {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.copy-to-clipboard_disabled {
  cursor: unset;
  opacity: 0.2;
}

.copy-to-clipboard_disabled:hover {
  opacity: 0.2;
}

.copy-to-clipboard__msg {
  font-size: 16px;
  color: #a25c5c;
  font-weight: 400;
  position: absolute;
  top: 202px;
  left: 408px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 768px) {
  .copy-to-clipboard__msg {
    top: 155px;
    left: 310px;
  }
}

@media screen and (max-width: 450px) {
  .copy-to-clipboard__msg {
    left: 213px;
    top: 160px;
    font-size: 14px;
  }
}

.copy-to-clipboard__msg_success {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.form__hint-msg_disabled {
  font-size: 16px;
  color: #a25c5c;
  font-weight: 400;
  position: absolute;
  top: 202px;
  left: 16px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 768px) {
  .form__hint-msg_disabled {
    top: 156px;
  }
}

@media screen and (max-width: 450px) {
  .form__hint-msg_disabled {
    top: 160px;
    font-size: 16px;
  }
}

.form__hint-msg {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.form__screenshot-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 280px;
  left: 465px;
  opacity: 0.4;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form__screenshot-btn {
    top: 230px;
    left: 366px;
  }
}

@media screen and (max-width: 450px) {
  .form__screenshot-btn {
    top: 228px;
    left: 267px;
  }
}

.form__screenshot-btn:hover {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.form__screenshot-btn_disabled {
  cursor: unset;
  opacity: 0.2;
}

.form__screenshot-btn_disabled:hover {
  opacity: 0.2;
}
