@import 'vendor/normalize.css';
@import 'vendor/fonts/Inter_Web/inter.css';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
