.analyser {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.analyser__typing-loader {
  margin-top: 15px;
}



.analyser__info {
  height: 70px;
}

.analyser__error {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

@media screen and (max-width: 450px) {
  .analyser__error {
    font-size: 14px;
    line-height: 18px;
  }
}
